@mixin rounded($tl: $rounded-radius, $tr: $rounded-radius, $br: $rounded-radius, $bl: $rounded-radius){
  -webkit-border-radius: $tl $tr $br $bl;
  -moz-border-radius: $tl $tr $br $bl;
  border-radius: $tl $tr $br $bl;
}